/* Global styles  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body styles */
body {
    background-color: #121212;
    color: white;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    color: rgb(255, 253, 253);
    padding: 20px;
    background-color: rgb(6, 6, 6);
}

/* Navbar  */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111;
    padding: 10px 20px;
    flex-wrap: wrap;
}

.nav-brand {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    margin-left: 15px;
}

/* hover effect */
.nav-links a:hover,
.nav-links a.active {
    text-decoration: underline;
}

/* footer */
footer {
    background-color: rgb(16, 16, 16);
    text-align: center;
    font-size: 14px;
    color: #939191;
    padding: 10px;
    margin-top: auto;
    position: sticky;
    bottom: 0;
    width: 100%;
}